#legal .document header{position:relative;text-align:left;padding-bottom:3rem;overflow:hidden;max-width:42rem;margin-left:auto;margin-right:auto}@media (min-width: 48em){#legal .document header{text-align:center}}
