#notice .banner{background:#f8f8f8;border-bottom:1px solid #ebeaeb}#notice .badge{padding:4rem 0;border-bottom:1px solid #ebeaeb}#notice .badge .content{display:flex;justify-content:center;align-items:center;flex-direction:column;text-align:center}#notice .badge figure{max-width:320px;padding:0 2rem}#notice .badge figure img{width:100%;max-width:100%}#notice .cta .actions{margin-top:2rem}
