#sitemap .map{border:none}#sitemap .map .map-category{padding:2rem 0}#sitemap .map .map-category:not(:last-child){border-bottom:1px solid #ccc}#sitemap .map .map-category h3{margin-bottom:1rem}#sitemap .map .map-category ul{column-count:1;margin:0;padding:0;list-style:none}@media (min-width: 36em){#sitemap .map .map-category ul{column-count:2}}@media (min-width: 48em){#sitemap .map .map-category ul{column-count:3}}#sitemap .map .map-category ul li{margin-bottom:1rem}#sitemap .map .map-category a{text-decoration:none;color:#3c3c3e}#sitemap .map .map-category a:hover{color:#999}
